<div id="painel">
    <app-header></app-header>
    <div class="main-selectors">
        <div class="menu-left">
          <div class="box-default btn-loja">
              <span>
                  <img src="assets/img/icones/store.png" alt="Store">
                  <p>LOJA</p>
              </span>
          </div>
          <div class="box-default btn-brawlers" routerLink="/brawlers">
              <span>
                  <img src="assets/img/icones/brawlers.png" alt="Store">
                  <p>BRAWLERS</p>
              </span>
          </div>
          <div class="box-default btn-noticias">
              <span>
                  <img src="assets/img/icones/news.png" alt="Store">
                  <p>NOTÍCIAS</p>
              </span>
          </div>
        </div>
        <div class="menu-center">
          <span>
            <div class="rank">
              <div class="level"><p>12</p></div>
              <div class="bar">
                <span>
                  <img src="/assets/img/icones/trovel.png" alt="Trovel">
                  182
                </span>
              </div>
              <div class="poder">
                <p>PODER</p>
                <p>4</p>
              </div>
            </div>
            <div class="brawl-selected" routerLink="/brawlers" >
              <img src="{{'/assets/img/brawls/' + brawlers.brawlerSelect.image + '.png'}}" alt={{brawlers.brawlerSelect.nome}} title={{brawlers.brawlerSelect.nome}} />
            </div>
          </span>
        </div>
        <div class="menu-right">
          <div class="box-default btn-loja">
              <span>
                  <img src="assets/img/icones/amigos.png" alt="Store">
                  <p>AMIGOS</p>
              </span>
          </div>
          <div class="box-default btn-brawlers">
              <span>
                  <img src="assets/img/icones/club.png" alt="Store">
                  <p>CLUBE</p>
              </span>
          </div>
          <div class="box-default btn-noticias">
              <span>
                  <img src="assets/img/icones/chat.png" alt="Store">
                  <p>BATE-PAPO</p>
              </span>
          </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
