<footer>
  <div class="boxes-user">
    <div class="btn-medium-box btn-boxes">
      <div class="box-default">
          <span>
              <img src="assets/img/icones/medium-box.png" alt="Medium Box" />
          </span>
      </div>
      <div class="level-box">
        <img src="assets/img/icones/tag-medium-box.png" alt="Tag Medium Box" />
        <p>6/10</p>
      </div>
    </div>
    <div class="btn-normal-box btn-boxes">
      <div class="box-default">
          <span>
            <img src="assets/img/icones/normal-box.png" alt="Normal Box" />
          </span>
      </div>
      <div class="level-box">
        <img src="assets/img/icones/tag-normal-box.png" alt="Tag Normal Box" />
        <p>66/100</p>
      </div>
    </div>
  </div>
  <div class="action-user">
    <div class="box-default action-map-user">
        <span>
          <div>
            <img src="assets/img/icones/fases/futebol.png" alt="Futebol">
            <p><span>Pique-gema</span><br>Fuga Veloz</p>
          </div>
        </span>
    </div>
    <div class="box-default action-play-user">
        <span>
          <p>JOGAR</p>
        </span>
    </div>
  </div>
</footer>
