.main-select-avatar
  border solid 5px #012766
  background-color rgba(0, 0, 0, 0.29)
  max-width 800px
  margin 0 auto

  ul
    display flex
    flex-wrap wrap
    max-height 72vh
    overflow-y auto
    overflow-x hidden
    padding 10px

    li
      flex 16.666%
      max-width 16.666%
      padding 4px
      line-height 0

      &:hover img
        cursor pointer
        position relative
        z-index 2
        transform scale(1.15)
        outline white 3px solid
