.header-user
  width 100%
  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between
  padding-bottom 20px

  .box-default span
    padding 10px 20px
    font-size 40px

    i
      width 40px
      text-align center

  p
    text-align center
    font-size 46px
    text-shadow 5px 5px 0px black
    -webkit-text-stroke 2px black
