.main-color-name
  max-width 800px
  margin 0 auto

  &>div
    display flex
    flex-wrap wrap
    align-items center
    justify-content space-between

    &>div
      flex 33.333%
      max-width 30%
      margin 20px 0

    span
      padding 15px 20px
      font-size 18px
