<header>
    <div>
        <div class="box-default btn-perfil">
            <span>
                <img src="assets/img/icones/avatars/icon1.png" alt="avatar">
                <p>Nick name</p>
            </span>
        </div>
        <div class="box-default btn-time-line">
            <span>
                <div>
                    <img src="assets/img/icones/time-line/icon2.png" alt="Nivel" />
                    <img src="assets/img/icones/trovel.png" alt="Trovel" />
                    <p>4596</p>
                </div>
                <div></div>
            </span>
        </div>
    </div>
    <div class="atributos-header">
        <div>
          <div>
              <img src="assets/img/icones/star.png" alt="Moeda Estrela" />
              <p>42000</p>
          </div>
          <div>
              <img src="assets/img/icones/ticket.png" alt="Ticket" />
              <p>40</p>
          </div>
          <div>
              <img src="assets/img/icones/coin.png" alt="Moedas" />
              <p>2394</p>
          </div>
          <div>
              <img src="assets/img/icones/gema.png" alt="Gemas" />
              <p>36</p>
          </div>
        </div>
        <div class="box-default btn-amigos">
            <span>
                <img src="assets/img/icones/friend.png" alt="Amigos" />
                <p>0</p>
            </span>
        </div>
        <div class="box-default btn-menu">
            <span>
                <i class="fas fa-bars"></i>
            </span>
        </div>
    </div>
</header>
